beautifulsoup4==4.12.3
argon2-cffi==25.1.0
catboost==1.2.7
fastapi==0.115.6
h3==4.1.2
httpx==0.28.1
jinja2==3.1.5
numpy==1.26.4
pandas==2.2.3
python-multipart==0.0.20
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
uvicorn[standard]==0.34.0
